<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545729576232-sdh1tcjamc8ur853aadhe7a3pu6kfps5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545729576232-sdh1tcjamc8ur853aadhe7a3pu6kfps5</string>
	<key>API_KEY</key>
	<string>AIzaSyAewf72LF-vvyGwcgMNx3vM_3wos9wiFsA</string>
	<key>GCM_SENDER_ID</key>
	<string>545729576232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstapp.com</string>
	<key>PROJECT_ID</key>
	<string>bizhub-af70e</string>
	<key>STORAGE_BUCKET</key>
	<string>bizhub-af70e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545729576232:ios:0c056a40fad867c621a41d</string>
</dict>
</plist>